html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #f7d2f2;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: #8d54be;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dotted #8d54be;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}

/* For Mobile */
@media screen and (max-width: 1000px) {
    .section {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}

/* For Tablets */
@media screen and (min-width: 1000px) and (max-width: 4000px) {
    .section {
        background-color: #fff;
        padding: 20px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}

#header {
    background-image: url("https://www.maxpixel.net/static/photo/2x/Mood-Sunset-Water-Sky-Nature-Header-Sun-Banner-5213793.jpg");
    background-size: cover;
    padding-top:50px;
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #787575;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 100%;
    font-size: 11pt;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
progress {
    width: 70%;
    height: 20px;
    color: #f8c75d;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #f8c75d;
} 
progress::-moz-progress-bar {
    color: #f8c75d;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #f8c75d;
    width: 100%;
    height: 360px;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}

#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 14pt;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    color: grey;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #8d54be;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 9px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #f8c75d;
  color: black;
}

/*different pages*/
.body {
     margin: 0em;
}

.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    z-index: 0;
    background-color: #f7d2f2;
    /*hsl(0,0%,100%)*/;
}

.page:target {
    left: 0vw;
    z-index: 1;
}




